html {
    background: url(beignes2.jpg) repeat center center fixed;
}

.container {
    position: fixed;
    /* or absolute */
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    background-color: rgba(240, 92, 116, 0.91);
    -moz-border-radius: 10px;
    /* for Firefox */
    -webkit-border-radius: 10px;
    /* for Webkit-Browsers */
    border-radius: 30px;
    /* regular */
    padding: 30px;
}

#text-content {
    font-family: 'Coming Soon', cursive;
    font-size: 80px;
    text-align: center;
    line-height: 100px;
    color: #000
}